body {
    background-color: #000; /* Black background */
    color: #00ff00; /* Green text */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for CMD effect */
}

a {
    color: #00ff00; /* Green text for links */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    color: #00cc00; /* Dark green text for hovered links */
}

.typing span {
    display: inline-block;
    white-space: pre-wrap; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Breaks long words to fit within the container */
}

.typing {
    white-space: pre; /* Preserve whitespace */
    overflow: hidden; /* Hide the overflow */
    border-right: .15em solid #00ff00; /* Cursor */
    animation: blink-caret .75s step-end infinite;
}

.typing-active {
    border-right: .15em solid #00ff00; /* Cursor */
    animation: blink-caret .75s step-end infinite;
}

.typing:not(.typing-active) {
    border-right: none; /* Remove cursor */
    animation: none; /* Stop blinking */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00ff00; }
}