body {
    background-color: #000; /* Black background */
    color: #00ff00; /* Green text */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for CMD effect */
}

a {
    color: #00ff00; /* Green text for links */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    color: #00cc00; /* Dark green text for hovered links */
}

.typing span {
    display: inline-block;
    white-space: pre-wrap; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Breaks long words to fit within the container */
}

.typing-cursor {
    display: inline-block;
    width: 10px; /* Set to desired width for typing cursor */
    height: 18px; /* Set to desired height */
    background-color: #00ff00;
    animation: blink-caret 0.6s infinite;
}

@keyframes blink-caret {
    50% { background-color: transparent; }
}

ul {
    list-style: none; /* Remove default list style */
}

.typing a {
    text-decoration: none;
    color: inherit;
}

.typing a:hover {
    text-decoration: underline;
}

.typing-dot {
    animation: blink-dot 1s step-end infinite;
}

@keyframes blink-dot {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

.project {
    margin-top: 50px; /* Add space at the top */
    margin-bottom: 50px; /* Add space between projects */
}

/* Add this to Fashion.css if not already present */
.project img {
    height: auto;
    max-height: 411px; /* Adjust as needed */
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
}

.project img.loaded {
    opacity: 1;
    transform: translateY(0);
}

#terminal-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

#terminal-input span {
    margin-right: 10px;
}

#command-input {
    background-color: #000;
    color: #00ff00;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 300px;
    caret-color: #00ff00; /* Custom cursor color */
    caret-width: 1000px; /* Custom width for the caret */
}

#command-suggestions {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #00ff00;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}

#command-suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#command-suggestions li {
    padding: 5px 0;
}

.project-image {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
    width: 250px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}
